@import url('https://fonts.googleapis.com/css2?family=Alata&family=Danfo&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kablammo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// ## Typography

* {
  font-family: "Inter", sans-serif;
}

button {
  background: none;
  border: none;
}